<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tiroapp.com.tiro_app" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="22" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <android:uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="22" />
    <android:uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <android:uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="22" />

    <application
        android:name=".ApplicationController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/CustomTheme" >
        <service
            android:name=".HorlogeService"
            android:exported="false" />

        <!-- Main activity log in -->
        <activity
            android:name=".activity.LogIn_A"
            android:label="Tiro"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Sign in activity -->
        <activity
            android:name=".activity.SignIn_A"
            android:label="Sign up"
            android:parentActivityName=".activity.LogIn_A"
            android:screenOrientation="portrait"
            android:value="splitActionBarWhenNarrow"
            android:windowSoftInputMode="adjustNothing" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tiroapp.com.tiro_app.activity.LogIn_A" />
        </activity>

        <!-- Form password forgotten -->
        <activity
            android:name=".activity.ForgotPassword_A"
            android:label="Reset password"
            android:parentActivityName=".activity.LogIn_A"
            android:screenOrientation="portrait"
            android:theme="@style/CustomTheme" >
        </activity>

        <!-- Timeline Activity -->

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:uiOptions="splitActionBarWhenNarrow" >
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".activity.SearchResult" />
        </activity>
        <activity
            android:name=".activity.Edit_post_A"
            android:label="Edit"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name=".activity.SearchContact_A"
            android:label="@string/title_activity_search_contact"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.List_follow"
            android:label="@string/title_activity_list_following"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.TakePics_A"
            android:label="@string/title_activity_take_pics_" >
        </activity>
        <activity
            android:name=".activity.Comment_post_A"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:label="Comment" >
        </activity>
    </application>

</manifest>
